# Python
*.pyc
__pycache__/
*.egg-info/
.env
venv/
.venv/

# Build
*.so
*.o
*.manifest

# Data
data/cache/*
data/news/*
!data/cache/.gitkeep
!data/news/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
instructions.txt
.env
*.key
*.pem

# OS
.DS_Store
Thumbs.db

# Project
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
